html,
body{
  height:100%;
  background: lightblue url("../img/background.jpg") no-repeat center center;
}

.logo{
  height: 55px;
  width: 115px;
}
#board{
 margin-top: 120px;
}
h6{
  font-size: 20px;
  color: orchid;
}

